.players{
    color: black;
    position: relative;
    font-size: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    top: 200px;
    left: 400px;
}

#common{
    height: 100px;
    width: 100px;
    border: 1px black solid;
}
